@import url("https://fonts.googleapis.com/css2?family=Peddana&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --clr-primary: #5e4f9c;
    --clr-secondary: #fff;
    --clr-tertiary: #ec689d;
    --clr-text-black: #000;
}

h2{
    color: var(--clr-primary);
    font-style: normal;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 3em;
    padding: 0px 20px 0px 20px;
}

p{
    color: var(--clr-text-black);
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 2em;
    padding: 0px 20px 0px 20px;
}

/* navigation bar */

.logo {
    color: var(--clr-secondary);
    font-size: 1.5em;
    margin-left: 1em;
}

header {
    position: fixed;
    background-color: var(--clr-primary);
    width: 100%;
    z-index: 10;
}

nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.navbar-links ul {
    display: flex;
    margin-right: 0.7em;
}

.navbar-links ul li {
    list-style: none;
}

.navbar-links ul li a {
    display: block;
    text-decoration: none;
    color: var(--clr-secondary);
    padding: 1em;
}

.navbar-links li:hover {
    background-color: var(--clr-tertiary);
    transition: ease-in 300ms;
}

/* hero section */

.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(assets/images/Hero\ BG.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1{
    color: var(--clr-secondary);
    font-size: 3em;
    margin-bottom: 0.5em;
}

.hero-inner{
    text-align: center;
}

.hero-btn{
    background-color: var(--clr-tertiary);
    color: var(--clr-secondary);
    text-decoration: none;
    padding: 0.8em 2em;
    border-radius: 8px;
    font-size: 1.18em;
    font-weight: 500;
}

.hero-btn:hover{
    background-color: var(--clr-primary);
    transition: ease-in 300ms;
}

/* about section */

.about{
    display: flex;
    justify-content: center;
}

.about-inner{
    max-width: 1440px;
}

