/* Import Fonts */

@import url("https://fonts.googleapis.com/css2?family=Peddana&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/* Global Styles */

:root {
  --clr-primary: #a05a6a;
  --clr-secondary: #f8f8ff;
  --clr-text-black: #2f2f31;
}

body {
  background-color: #f8f8ff;
}

h2 {
  color: var(--clr-text-black);
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  padding: 0px 20px 0px 20px;
  margin-bottom: 1em;
}

p {
  color: var(--clr-text-black);
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 2em;
  padding: 0px 20px 0px 20px;
  margin-bottom: 1.125em;
}

/* Navigation Bar */

.logo {
  font-size: 1.5em;
  margin-left: 1em;
}

.logo a {
  text-decoration: none;
  color: var(--clr-secondary);
}

header {
  position: fixed;
  background-color: var(--clr-text-black);
  width: 100%;
  z-index: 10;
}

nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1em 1.25em 1em 0em;
}

.navbar-links ul {
  display: flex;
  margin-right: 0.7em;
}

.navbar-links ul li {
  list-style: none;
  padding: 0em 1.2em;
}

.navbar-links ul li a {
  display: block;
  text-decoration: none;
  color: var(--clr-secondary);
}

.navbar-links a:hover {
  transition: ease-in 300ms;
  color: var(--clr-primary);
}

.navbar-links a:active {
  transition: ease-in 300ms;
  color: var(--clr-primary);
}

.hamburger {
  position: absolute;
  top: 1.4em;
  right: 1em;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}

.hamburger-line {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

/* Hero Section */

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/hero-bg.jpg) no-repeat center center;
  background-size: cover;
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  color: var(--clr-secondary);
  font-size: 3em;
  margin-bottom: 0.5em;
}

.hero-container {
  text-align: center;
}

.hero-btn {
  background-color: #18191a;
  color: var(--clr-secondary);
  text-decoration: none;
  padding: 0.8em 2em;
  border-radius: 8px;
  font-size: 1.18em;
  font-weight: 500;
}

.hero-btn:hover {
  background-color: var(--clr-secondary);
  color: var(--clr-text-black);
  transition: ease-in 300ms;
}

/* About Section */

.about {
  display: flex;
  justify-content: center;
}

.about-container {
  max-width: 1440px;
  margin-top: 80px;
}

/* Benefits Section */

.benefits {
  background-color: var(--clr-primary);
  margin-top: 80px;
}

.benefits-container {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 1em 0.5em;
}

.benefits-container ul li {
  color: var(--clr-secondary);
  list-style-type: none;
  font-style: normal;
  font-size: 1em;
  padding: 2em 0em;
  margin-left: 1em;
}

.benefits-container i {
  color: lightgreen;
  font-size: 1.25em;
}

/* Try It Section */

.try-it {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.try-it-container {
  max-width: 1440px;
  margin-top: 80px;
}

.tutorial-container {
  display: flex;
  max-width: 1440px;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

#last-tut-container {
  margin-bottom: 80px;
}

.tutorial-steps {
  flex: 1 1 45%;
}

.video-container {
  flex: 1 1 55%;
  max-width: 660px;
  margin: 2.5em;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tutorial-steps ul li {
  line-height: 2.25em;
  list-style-type: none;
  margin-top: 3em;
  padding: 0px 20px 0px 20px;
  font-size: 1em;
}

.tutorial-steps ul li:last-child {
  margin-bottom: 2em;
}

.tutorial-steps i {
  color: var(--clr-primary);
  font-size: 1.125em;
}

hr {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 0.7em;
  margin-bottom: 2.5em;
}

/* Contact Section */

.contact {
  background-color: var(--clr-primary);
}

.contact-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

form {
  max-width: 500px;
  padding: 1.875em;
}

form label {
  color: var(--clr-secondary);
  font-size: 1.125em;
}

.input,
textarea {
  width: 100%;
  outline: none;
  border-radius: 5px;
  padding: 0.5em 0.625em;
  border: 1px solid var(--clr-secondary);
  transition: all 300ms ease;
  margin-bottom: 1.25em;
  margin-top: 0.5em;
}

.form-btn {
  width: 100%;
  background-color: var(--clr-text-black);
  color: var(--clr-secondary);
  padding: 0.5em 0.625em;
  font-size: 1.125em;
  border: none;
  border-radius: 5px;
}

.form-btn:hover {
  background-color: var(--clr-secondary);
  color: var(--clr-text-black);
  border: none;
  transition: ease-in 150ms;
  cursor: pointer;
}

.contact-right {
  position: absolute;
  right: 0;
  top: 50px;
  width: 600px;
  height: 580px;
}

.contact-right img {
  position: absolute;
  bottom: 0;
  right: 160px;
  width: 420px;
  height: 420px;
}

.contact-right h2 {
  color: var(--clr-secondary);
}

.contact-right p {
  color: var(--clr-secondary);
}

/* Quote Section */

.quote-section {
  width: 100%;
  background-color: white;
  padding: 75px;
}

.quote-container {
  max-width: 1440px;
  margin: 0 auto;
}

.quote-container h3 {
  text-align: center;
  color: var(--clr-primary);
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 300;
}

.profile-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0px 0px 0px;
}

.profile-container p {
  color: var(--clr-text-black);
  font-size: 20px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.profile-container img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

/* Footer Section */

footer {
  width: 100%;
  background-color: var(--clr-text-black);
}

footer h2 {
  font-size: 1.125em;
  color: var(--clr-secondary);
  padding-top: 2em;
  padding-bottom: 2em;
  font-weight: normal;
  margin-bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;
  flex-wrap: wrap;
}

.footer-links ul {
  display: flex;
}

.footer-links li {
  list-style-type: none;
  padding: 0em 1em;
}

.footer-links a {
  display: block;
  font-size: 2em;
}

.footer-links i {
  color: var(--clr-secondary);
}

.footer-links i:hover {
  color: var(--clr-primary);
  transition: ease-in 150ms;
}

/* Media Queries */

@media screen and (max-width: 1345px) {
  .tutorial-container {
    display: block;
  }

  .video-container {
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em;
  }
}

@media screen and (max-width: 1090px) {
  .contact-right {
    display: none;
  }

  form {
    margin: 0 auto;
  }

  footer h2 {
    padding-bottom: 1em;
  }

  .footer-links ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .footer-links li {
    padding: 5px;
  }

  .footer-links a {
    font-size: 2em;
  }

  .footer-container {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 1028px) {
  .benefits-container {
    flex-direction: row;
  }

  .benefits-container ul {
    width: 350px;
  }

  .profile-container {
    justify-content: center;
    padding-top: 20px;
  }
}

@media screen and (max-width: 792px) {
  .hero {
    height: 100vh;
  }

  .hero h1 {
    padding: 0em 1em;
  }

  .benefits-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .hamburger {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    flex-direction: column;
    margin: 0 auto;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5em 0em;
  }

  .navbar-links.active {
    display: flex;
  }

  .quote-container h3 {
    font-size: 1.125em;
  }

  .quote-section {
    padding: 25px;
  }

  .profile-container p {
    font-size: 1em;
  }

  .profile-container img {
    width: 45px;
    height: 45px;
  }
}

@media screen and (max-width: 500px) {
  .hero h1 {
    font-size: 2em;
  }

  .hero-btn {
    font-size: 1em;
  }

  .about-container {
    text-align: center;
  }

  .benefits-container {
    align-items: unset;
  }

  .benefits-container ul li {
    font-size: 0.8em;
  }

  .benefits-container ul {
    width: auto;
  }

  .try-it-container {
    text-align: center;
  }

  .video-container {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0em 2em 2em 2em;
  }

  .tutorial-steps ul li {
    font-size: 0.8em;
  }

  .tutorial-steps h2 {
    text-align: center;
  }

  .quote-container h3 {
    font-size: 0.8em;
  }

  .profile-container p {
    font-size: 0.8em;
  }

  .profile-container img {
    width: 35px;
    height: 35px;
  }

  form label {
    font-size: 1em;
  }

  .form-btn {
    font-size: 1em;
  }

  p {
    font-size: 0.8em;
  }

  h2 {
    font-size: 1em;
  }

  .footer-container h2 {
    font-size: 1em;
  }
}